@charset "UTF-8";

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #323030;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

img {
    width: 100%;
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: 13px;
    font-family: 'Rajdhani', sans-serif;
    background: linear-gradient(90deg, rgba(140, 167, 210, 1) 0%, #fff8f3 100%);
    overflow-x: hidden;
    color: #323030;
    line-height: 1.6;
}

.title {
    font-family: 'TTTtangsbudaejjigaeB';
    font-size: 2.2vw;
    text-transform: uppercase;
    text-shadow: 3px 3.5px 4px #868fc2;
    color: #484f79;
    line-height: 1.2;
    position: relative;
    padding: 0 6vw;
}

.title::before {
    content: '';
    position: absolute;
    bottom: -10%;
    left: 5vw;
    width: 45%;
    height: 1px;
    background: #484f79;
}

.portfolio_me .title {
    font-family: 'TTTtangsbudaejjigaeB';
    text-transform: uppercase;
    text-shadow: 3px 3.5px 0 #C2A486;
    color: #795548;
    padding: 0 1vw;
    line-height: 1.2;
}

.portfolio_me .title::before {
    background: #C2A486;
    left: 0;
}

@media (max-width:768px) {
    .title {
        padding: 0 0 0 7vw;
        font-size: 4vw;
        text-shadow: 0 0 black;
    }

    .title::before {
        display: none;
    }

    .portfolio_me .title {
        font-size: 4vw;
        text-shadow: 0 0 black;
    }

    .portfolio_me .title::before {
        display: none;
    }
}

@font-face {
    font-family: 'TTTtangsbudaejjigaeB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/TTTtangsbudaejjigaeB.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}