:root {
    --black: #323030;
    --bg: #afd3e2;
}

/* header */
header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999999;
}

header .fixed {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vw 2vw;
    /* background: rgba(255, 255, 255, 0.7); */
    /* box-shadow: 0 1vw 2vw rgba(0, 0, 0, 0.1); */
}

header h1 {
    font-family: 'Yellowtail', cursive;
}

header h1 a {
    font-size: 1vw;
    font-weight: normal;
}

header h1 a span {
    font-size: 1.5vw;
}

header nav .menu {
    display: flex;
}

header nav .menu li {
    position: relative;
}

header nav .menu li:not(:first-child) {
    margin-left: 1.2vw;
}

header nav .menu li a {
    font-size: .8vw;
    font-weight: 600;
    color: #4f453b;
}

header nav .menu li:hover a {
    color: #748c97;
}

header nav .menu li a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all 1s;
    border-bottom: 1px solid #748c97;
    width: 0;
}

header nav .menu li:hover a:hover::before {
    width: 100%;
}

/* header CLASSES */
.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* OVERLAY */
.overlay {
    z-index: 9;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.9);
}

.overlay-slide-right {
    transition: all 0.4s ease-in-out;
    transform: translateX(0);
}

.overlay-slide-left {
    transition: all 0.8s ease-in-out;
    transform: translateX(-100vw);
}

/* NAV MENU ITEMS */
nav .m-menu {
    height: 100vh;
    list-style: none;
}

nav .m-menu li {
    height: 20%;
    font-weight: 600;
}

nav .m-menu li a {
    font-size: 5vw;
    position: relative;
}

.slide-in-1 {
    animation: slide-in 0.4s linear 0.2s both;
}

.slide-in-2 {
    animation: slide-in 0.4s linear 0.4s both;
}

.slide-in-3 {
    animation: slide-in 0.4s linear 0.6s both;
}

.slide-in-4 {
    animation: slide-in 0.4s linear 0.8s both;
}

.slide-in-5 {
    animation: slide-in 0.4s linear 1s both;
}

@keyframes slide-in {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}

.slide-out-1 {
    animation: slide-out 0.3s linear 0.5s both;
}

.slide-out-2 {
    animation: slide-out 0.3s linear 0.4s both;
}

.slide-out-3 {
    animation: slide-out 0.3s linear 0.3s both;
}

.slide-out-4 {
    animation: slide-out 0.3s linear 0.2s both;
}

.slide-out-5 {
    animation: slide-out 0.3s linear 0.1s both;
}

@keyframes slide-out {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

.hamburger-menu {
    position: fixed;
    display: none;
    width: 30px;
    top: 2%;
    right: 2%;
    z-index: 99999;
    cursor: pointer;
}

.menu-bar1,
.menu-bar2,
.menu-bar3 {
    width: 30px;
    height: 3px;
    background-color: #222;
    transition: 0.4s;
}

.menu-bar2 {
    margin: 1vw 0;
}

.active .menu-bar1 {
    transform: rotate(-45deg);
    position: absolute;
    top: 50%;
}

.active .menu-bar2 {
    opacity: 0;
}

.active .menu-bar3 {
    transform: rotate(45deg);
    position: absolute;
    top: 50%;
}

/* project */
#projects {
    width: 50vw;
    margin: 5vw auto;
    position: relative;
}

.project video {
    width: 100%;
    border: 1vw solid #f7f8fc;
    border-bottom: 4vw solid #f7f8fc;
    border-radius: 1vw;
    box-sizing: border-box;
}

.project img:nth-child(2) {
    position: absolute;
    width: 40%;
    bottom: -20%;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}

.project img:nth-child(3) {
    position: absolute;
    width: 25%;
    bottom: -20%;
    left: -10%;
    z-index: 1;
}

.project img:nth-child(4) {
    position: absolute;
    width: 15%;
    bottom: -20%;
    left: 90%;
    z-index: 1;
}

/* other_works */
#other_works {
    padding: 5vw 0;
}

.work_container {
    position: relative;
    height: 100%;
}

.work_container>p {
    margin-top: 10px;
    text-align: center;
    font-size: 1rem;
    font-weight: 300;
}

.work_container .works_container {
    position: relative;
    display: flex;
    align-items: center;
    padding: 6vw 0;
    height: 20vw;
    overflow-x: hidden;
}

.work_container .works_container .works_wrap {
    position: absolute;
    display: flex;
}

.work_container .works_container .works_wrap>ul {
    display: flex;
    justify-content: center;
    gap: 4vw;
    padding-right: 4vw;
}

.work_container .works_container .works_wrap>ul>li {
    position: relative;
    height: 20vw;
    aspect-ratio: 2;
    transition: 400ms ease;
    box-shadow: 0 0 1vw rgba(0, 0, 0, 0.2);
    cursor: pointer;
    overflow: hidden;
    will-change: transform;
}

.work_container .works_container .works_wrap>ul>li>img {
    width: 100%;
}

.work_container .works_container .works_wrap>ul>li .info_wrap {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 6vw;
    padding: 0 1vw;
    opacity: 0;
    background: linear-gradient(rgba(0, 0, 0, 0), rgb(0, 0, 0));
    transition: 300ms;
    box-sizing: border-box;
}

.work_container .works_container .works_wrap>ul>li .info_wrap .sub_title {
    font-size: 1.5vw;
    text-transform: uppercase;
    color: #fff;
}


/* wave */
.wave {
    background: url(../images/wave.png);
    width: 7680px;
    height: 250px;
    animation: wave 7s linear infinite 0s;
}

@keyframes wave {
    0% {
        margin-left: 0;
    }

    100% {
        margin-left: -1920px;
    }
}

/* portfolio_me */
.portfolio_me {
    background: #fff8f3;
}

/* about */
#about {
    position: relative;
}

.sec_contact {
    display: flex;
    align-items: center;
    padding: 3vw;
}

.c_left {
    position: relative;
    width: 50%;
    font-family: 'TTTtangsbudaejjigaeB';
}

.c_left img:nth-of-type(1) {
    display: block;
    margin: 0 auto;
    border-radius: 50% 50% 1vw 1vw;
    width: 50%;
}

.c_left img:nth-of-type(2) {
    position: absolute;
    width: 5vw;
    top: 0;
    left: 16%;
    transform-origin: bottom;
    transform: rotate(0deg);
    animation: hand 1s infinite alternate;
}

@keyframes hand {
    to {
        transform: rotate(10deg);
    }
}

.c_right {
    width: 50%;
    z-index: 9;
}

.c_right .title {
    text-align: center;
    line-height: 2;
}

.c_right .text_wrap {
    width: 80%;
    margin: 0 auto;
}

.c_right .text_wrap p {
    color: #5a524a;
    font-size: 1vw;
    font-weight: 600;
    line-height: 2.5;
    font-weight: 400;
}

.c_right .text_wrap p strong {
    color: #795548;
}

.c_right .text_wrap ul {
    display: flex;
    justify-content: flex-end;
    font-size: 1.5vw;
}

.c_right .text_wrap ul li:not(:first-child) {
    margin-left: 2vw;
}


/* skill */
#skill {
    position: relative;
    padding: 5vw;
}

#skill .title {
    text-align: center;
    position: relative;
}

.icons_hover {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'TTTtangsbudaejjigaeB';
    font-size: 1.2vw;
    text-align: center;
    color: #c5a789;
    animation: hoverMove 0.5s infinite alternate ease-in-out;
}

@keyframes hoverMove {
    0% {
        top: 18%;
    }

    100% {
        top: 19%;
    }
}

.skill_wrap {
    width: 60%;
    margin: 1vw auto;
}

.skill_container ul {
    display: flex;
    justify-content: space-between;
}

.skill_container ul li {
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 4vw;
    height: 10vw;
    transition: 300ms ease;
}

.skill_container ul li:hover {
    padding-right: 11vw;
}

.skill_container ul li .skill_detail {
    position: absolute;
    left: 5vw;
    width: 16vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    transition: left 250ms ease, opacity 400ms ease;
}

.skill_container ul li:hover .skill_detail {
    left: 5vw;
    opacity: 1;
}

.skill_detail .skill_name span {
    font-size: 1.4vw;
    font-weight: 600;
}

.skill_detail .skill_name i {
    color: #dc6e25;
}

.skill_container ul li .skill_detail p {
    font-size: .8vw;
}

/*bubble*/
.jelly-container {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 300px;
    overflow: hidden;
}

div[class^=bubble-] {
    height: 1px;
    width: 1px;
    position: absolute;
    border-radius: 50%;
    transform: translateX(-50%);
}

div[class^=bubble-]:after {
    content: "";
    position: absolute;
    height: 85%;
    width: 85%;
    border-top: 1px solid rgba(255, 255, 255, 0.63);
    border-radius: 50%;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0) rotateZ(-45deg);
}

.bubble-1 {
    bottom: 6px;
    left: 58%;
    animation: bubble-movement 4s infinite ease-in -0.3s;
}

.bubble-2 {
    bottom: 6px;
    left: 65%;
    animation: bubble-movement 4s infinite ease-in -1.27s;
}

.bubble-3 {
    bottom: 6px;
    left: 37%;
    animation: bubble-movement 4s infinite ease-in -2.22s;
}

.bubble-4 {
    bottom: 6px;
    left: 68%;
    animation: bubble-movement 4s infinite ease-in -1.19s;
}

.bubble-5 {
    bottom: 7px;
    left: 34%;
    animation: bubble-movement 4s infinite ease-in -2.61s;
}

.bubble-6 {
    bottom: 10px;
    left: 83%;
    animation: bubble-movement 4s infinite ease-in -2.99s;
}

.bubble-7 {
    bottom: 5px;
    left: 25%;
    animation: bubble-movement 4s infinite ease-in -2.99s;
}

.bubble-8 {
    bottom: 9px;
    left: 56%;
    animation: bubble-movement 4s infinite ease-in -3s;
}

.bubble-9 {
    bottom: 11px;
    left: 5%;
    animation: bubble-movement 4s infinite ease-in -1.89s;
}

.bubble-10 {
    bottom: 7px;
    left: 9%;
    animation: bubble-movement 4s infinite ease-in -1.56s;
}

.bubble-11 {
    bottom: 4px;
    left: 8%;
    animation: bubble-movement 3s infinite ease-in -0.46s;
}

.bubble-12 {
    bottom: 10px;
    left: 20%;
    animation: bubble-movement 3s infinite ease-in -1.11s;
}

.bubble-13 {
    bottom: 7px;
    left: 8%;
    animation: bubble-movement 3s infinite ease-in -1.44s;
}

.bubble-14 {
    bottom: 7px;
    left: 90%;
    animation: bubble-movement 3s infinite ease-in -3s;
}

.bubble-15 {
    bottom: 2px;
    left: 45%;
    animation: bubble-movement 3s infinite ease-in -1.27s;
}

.bubble-16 {
    bottom: 2px;
    left: 100%;
    animation: bubble-movement 3s infinite ease-in -2.22s;
}

.bubble-17 {
    bottom: 6px;
    left: 71%;
    animation: bubble-movement 3s infinite ease-in -0.17s;
}

.bubble-18 {
    bottom: 3px;
    left: 84%;
    -webkit-animation: bubble-movement 3s infinite ease-in -1.11s;
    animation: bubble-movement 3s infinite ease-in -1.11s;
}

.bubble-19 {
    bottom: 5px;
    left: 48%;
    animation: bubble-movement 3s infinite ease-in -0.68s;
}

.bubble-20 {
    bottom: 2px;
    left: 59%;
    animation: bubble-movement 3s infinite ease-in -0.85s;
}

@keyframes bubble-movement {
    0% {
        transform: translate3d(-50%, 0, 0);
        height: 10px;
        width: 10px;
        background-color: rgb(224 114 87 / 35%);
    }

    100% {
        transform: translate3d(-50%, -200px, 0);
        height: 50px;
        width: 50px;
        background-color: rgb(224 114 87 / 0%);
    }
}

/* contact */
#contact {
    padding: 5vw;
    padding-bottom: 0;
}

#contact .title {
    text-align: center;
}

#contact .title p {
    font-size: 1vw;
    line-height: 2.5;
    text-align: center;
    color: #c7aa8d;
    text-shadow: none;
}

#contact .title p i {
    padding-left: 1vw;
}

.f_top h1 {
    color: #fff;
    color: #e07257;
    font-size: 3vw;
    margin-bottom: 1%;
    text-align: center;
    text-transform: uppercase;
}

.f_top p {
    font-size: 1.5vw;
    text-align: center;
    color: #c7aa8d;
}

form {
    padding: 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form input {
    border-radius: .5vw;
    outline: none;
    display: block;
    width: 50vw;
    margin-bottom: 2%;
    padding: 1% 2vw;
    height: 3.5vw;
    font-size: 1.1vw;
    box-sizing: border-box;
    background: #FFF8E7;
    border: 2px solid #F4DEAB;
    color: #E2BF6E;
    font-family: 'Rajdhani', sans-serif;
}

form input::placeholder,
form textarea::placeholder {
    color: #E2BF6E;
}

form input:focus::placeholder {
    visibility: hidden;
}

form .f_message textarea {
    border-radius: .5vw;
    outline: none;
    display: block;
    width: 50vw;
    margin-bottom: 3%;
    padding: 1vw 2vw;
    height: 15vw;
    font-size: 1.1vw;
    box-sizing: border-box;
    background: #fff8e7;
    border: 2px solid #f4deab;
    color: #e2bf6e;
    font-family: 'Rajdhani', sans-serif;
}

form .f_btn {
    display: inline-block;
    padding: 1vw 10vw;
    border-radius: .5vw;
    border: none;
    outline: none;
    background: #F4DEAB;
    color: #d8b565;
    cursor: pointer;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 600;
    font-size: 1vw;
}

form label {
    display: none;
}

/* footer */
footer {
    padding: 2vw 0;
    text-align: center;
}

footer .copyright {
    color: #5f5f5f;
    line-height: 2;
}

@media (max-width:1024px) {
    .skill_container ul li .skill_detail {
        width: 20vw;
    }
}

@media (max-width:768px) {
    #menu {
        display: none;
    }

    .hamburger-menu {
        display: block;
    }

    .title {
        font-size: 6vw;
        text-shadow: 0 0 black;
    }

    .portfolio_me .title {
        font-size: 6vw;
        text-shadow: 0 0 black;
    }

    /* header */
    header h1 a {
        font-size: 20px;
    }

    header h1 a span {
        font-size: 27px;
    }

    /* projects */
    #projects {
        padding-top: 8vw;
    }

    .project_container .projects:nth-child(1) {
        flex-direction: column;
        gap: 4vw;
    }

    .rounded {
        height: 60vw;
    }

    .rounded video {
        border-radius: 1vw;
    }

    .projects span {
        font-size: 3vw;
    }

    /* other_works */
    #other_works {
        padding: 8vw 0;
    }

    .work_container .works_container {
        height: 60vw;
    }

    .work_container .works_container .works_wrap>ul>li {
        height: 60vw;
    }

    .work_container .works_container .works_wrap>ul>li .info_wrap .sub_title {
        font-size: 2vw;
    }

    /* wave */
    .wave {
        width: 3840px;
    }

    /* portfolio_me */
    .sec_contact {
        flex-direction: column;
    }

    .c_left {
        width: 100%;
    }

    .c_left h2 {
        font-size: 5.5vw;
    }

    .c_left p {
        font-size: 3vw;
    }

    .c_left img:nth-of-type(2) {
        width: 10vw;
        top: 4%;
        left: 14%;
    }

    .c_right {
        width: 100%;
    }

    .c_right .text_wrap p {
        font-size: 2.5vw;
    }

    #skill .title {
        margin: 4vw 0;
    }

    #skill .icons_hover {
        display: none;
    }

    .skill_wrap {
        width: 100%;
    }

    .skill_container ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 3vw 1vw;
    }

    .skill_container ul:nth-child(2) {
        margin: 3vw 0;
    }

    .skill_container ul li {
        display: grid;
        grid-template-columns: 8vw 1fr;
        width: 100%;
        height: auto;
        padding: 1vw 2vw;
        opacity: 1;
        box-sizing: border-box;
    }

    .skill_container ul li:hover {
        padding: 1vw 2vw;
    }

    .skill_container ul li .skill_detail {
        position: relative;
        width: 100%;
        left: 2vw;
        opacity: 1;
    }

    .skill_container ul li:hover .skill_detail {
        left: 2vw;
    }

    .skill_detail .skill_name span {
        font-size: 2.5vw;
    }

    .skill_container ul li .skill_detail p {
        font-size: 1.8vw;
    }

    .f_top h1 {
        font-size: 6vw;
    }

    .f_top p {
        font-size: 3.3vw;
        margin-bottom: 1%;
    }

    form input {
        width: 75vw;
        height: 7.5vw;
        font-size: 2vw;
        margin-bottom: 3%;
    }

    form .f_message textarea {
        width: 75vw;
        height: 33vw;
        font-size: 2vw;
    }

    form .f_btn {
        width: 75vw;
        height: 7.5vw;
        font-size: 2.4vw;
    }
}

@media (max-width:480px) {

    /* skill */
    .skill_container ul {
        grid-template-columns: 1fr;
    }

    .skill_container ul li {
        padding: 2vw 6vw;
    }

    .skill_container ul li:hover {
        padding: 2vw 6vw;
    }

    /* footer */
    footer {
        padding: 4vw 0;
    }
}

@media (hover: hover) {
    .works_container .works_wrap>ul>li:hover {
        transform: scale(1.12);
        box-shadow: 0 0 1vw rgba(0, 0, 0, 0.25);
        z-index: 100;
    }

    .works_container .works_wrap>ul>li:hover .info_wrap {
        opacity: 1 !important;
    }
}